<!DOCTYPE html>
<html>

    <head>

        <title>Watched - Search</title>
        <meta name="description" content="Add stuff here!">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='Poster.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='animatedburger.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='searchBox.css')}}">
    </head>

    <body class="noHover">
        <div id="mySidenav" class="sidenav">
            <a href="dhamu.xyz.index.html">HOME</a>
            <a href="dhamu.xyz.projects.html">PROJECTS</a>
            <a href="dhamu.xyz.resume.html">RESUME</a>
            <a href="dhamu.xyz.css-fun.html">CSS</a>
            <a href="https://jellyfin.dhamu.xyz" target="_blank">Jellyfin</a>
        </div>

        <div id="main">
            <div class="burgbody">
                <span id="borger" class="wrapper" style="font-size:30px;cursor:pointer" onclick="openNav()">
                  <div class="line-menu half start"></div>
                  <div class="line-menu"></div>
                  <div class="line-menu half end"></div>
                </span>
            </div>
            <h1>Watched - Search</h1>
            <hr>
            <div class="Add">
                <div id="searchBody">
                        <form action="{{url_for('sendSearch')}}" method="POST" class="searchBox">
                        <input id="Query" class="searchInput" type="text" name="q" placeholder="Search">
                        <button type="submit" class="searchButton">
                          <i class="material-icons">
                            search
                          </i>
                        </button>
                        </form>
                </div>
            </div>
        
            <div>
                <ul class="Results" id="no-bullets">
                {% for item in data %}
                
                <li id="choice1">
                    <form action="{{url_for('create1')}}" method="POST">
                        <img src="{{item.image}}" id="imgchoice1">
                        <input type="hidden" name="title" value="{{item.title}}"></input>
                        <marquee behavior="scroll" direction="left">{{item.title}}</marquee>
                        <input type="text" name="IMDbID" value="{{item.id}}" class="searchInput"></input>
                        <input type="text" name="description" value="{{item.description}}" class="searchInput"></input>
                        <input type="hidden" name="poster" value="{{item.image}}" class="searchInput"></input>
                        <button type="submit" class="searchButton" id="addButton">
                            <i class="material-icons">
                                add
                            </i>
                        </button>
                    </form>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <script src="{{url_for('static', filename='sidenav.js')}}"></script>
        <script src="{{url_for('static', filename='IMDB.js')}}"></script>
    </body>
    
</html>
